<p>Here are your booking details :</p>
<p>Your Token</p>
<p><%= @booking.identifier_token %></p>
<%= @doctor.name %>
<%= @doctor.contact_information %>
<%= @doctor.company_name %>
<%= @doctor.location %>



<form action="/welcome">
    <input type="submit" value="Back To Homepage" />
</form>